body
{
  color: rgb(224, 6, 6);
  background: rgb(68, 255, 255);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed rgb(5, 161, 0);
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: rgb(0, 0, 0);
}
